<div class="fixed-pane">
  <div class='header'></div>
  {{#sortable-group class='reservables' tagName="ol" onChange="reorderPlaces" as |group|}}
    {{#each placesSorted as |place|}}
      {{#sortable-item tagName="li" model=place group=group class='reservable'}}
        {{place.name}}
      {{/sortable-item}}
    {{/each}}
  {{/sortable-group}}


  <div class='add-reservable'>
    <a href='#' {{action 'newPlace'}}>{{fa-icon "plus"}} New</a>
  </div>
</div>


<div class="track-container">
  <div class="tracks" style={{tracksWidthStyle}}>
    <div class='header'>
      {{#each hours as |hour|}}
        <div class='hour' style={{hourWidthStyle}}>{{structure-hour hour}}</div>
      {{/each}}
    </div>
    {{#each placesSorted as |place|}}
      {{schedule-track reservable=place reservations=place.sessions
        hours=hours hourWidth=hourWidth start=start
        moveReservation='moveReservation' addEvent='addEvent'
        resizeReservation='resizeReservation' select='select'
        editDetails='editDetails'}}
    {{/each}}
  </div>
</div>
