<h1>{{fa-icon 'pencil'}} session details</h1>

<div class='label'>Name</div>
<div class='input'>{{input value=model.name autoresize=true}}</div>

<div class='label'>Start</div>
<div class='input'>{{datetime-input value=model.start}}</div>

<div class='label'>Finish</div>
<div class='input'>{{moment-format model.finish "lll"}}</div>

<div class='label'>Duration</div>
<div class='input'>{{model.duration}} minutes</div>

<div class='label'>Description</div>
<div class='input'>{{textarea model.description}}</div>

<button {{action 'save'}}>Save</button>
