
<div class="inset-title">
<h1>Configure schedules</h1>
<button {{action 'newSchedule'}}>Add schedule</button>
</div>

<table>
{{#each model as |schedule|}}
  <tr>
    <td>
      {{link-to schedule.name 'event.schedule.show' schedule.event schedule}}
    </td>
    <td>{{datetime-input value=schedule.start}}</td>
    <td>{{datetime-input value=schedule.finish}}</td>
    <td><span {{action 'deleteSchedule' schedule}}>{{fa-icon "trash"}}</span></td>
  </tr>
{{/each}}
</table>
