<div id='schedule' class={{if isEditingDetails 'is-editing-details'}}>
  {{outlet}}
</div>
{{#if isEditingDetails}}
  <div id='detail-pane'>
    {{component detailedModelDetails
      model=detailedModel
      saveModel='updateModel'}}
  </div>
{{/if}}

<div id='schedule-tabs'>
  <ul>
  {{#each model as |schedule|}}
    <li {{action 'editScheduleDetails' schedule on='doubleClick'}}>
      {{link-to schedule.name "event.schedule.show" schedule.event schedule}}
    </li>
  {{/each}}
  <li>
    <a href="#" class="subtle" {{action "newSchedule"}}>{{fa-icon "plus"}}</a>
  </li>
  </ul>
</div>

{{#if editSchedule}}
  {{#modal-dialog close="removeNewSchedule" targetAttachment="center" translucentOverlay=true}}
    <h1>Create new schedule</h1>
    <div class="name">Name</div>
    <div class="input">{{input value=newScheduleName}}</div>
    <div class="name">Date</div>
    <div class="input">{{pikaday-input value=newScheduleDate}}</div>
    <div class="name">Start</div>
    <div class="input">{{input name=newScheduleStart value=newScheduleStart}}</div>
    <div class="name">Finish</div>
    <div class="input">{{input name=newScheduleFinish value=newScheduleFinish}}</div>
    <button {{action "createNewSchedule"}}>Save</button>
  {{/modal-dialog}}
{{/if}}

{{#if newPlace}}
  {{#modal-dialog close="removeNewPlace" targetAttachment="center" translucentOverlay=true}}
    <h1>Create new place</h1>
    <div class="name">Name</div>
    <div class="input">{{input value=newPlaceName}}</div>
    <button {{action "createNewPlace"}}>Save</button>
  {{/modal-dialog}}
{{/if}}

{{#if newSession}}
  {{#modal-dialog close="removeNewSession" targetAttachment="center" translucentOverlay=true}}
    <h1>Create new session</h1>
    <div class="name">Name</div>
    <div class="input">{{input value=newSessionName}}</div>
    <div class="name">Duration (minutes)</div>
    <div class="input">{{input value=newSessionDuration}}</div>
    <button {{action "createNewSession"}}>Save</button>
  {{/modal-dialog}}
{{/if}}
